[submodule "luci-app-zerotier"]
	path = luci-app-zerotier
	url = https://github.com/rufengsuixing/luci-app-zerotier
	branch = 1.0-16
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
	branch = v2.3.1
