[submodule "luci-app-zerotier"]
	path = luci-app-zerotier
	url = https://github.com/animegasan/luci-app-zerotier
	branch = 1.1
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
	branch = master
[submodule "openwrt-vlmcsd"]
	path = openwrt-vlmcsd
	url = https://github.com/mchome/openwrt-vlmcsd
[submodule "luci-app-vlmcsd"]
	path = luci-app-vlmcsd
	url = https://github.com/mchome/luci-app-vlmcsd
